In [4]:
import tabula
import pandas as pd

code a way to get link from site: https://stopcoronavirus.mcgm.gov.in/key-updates-trends

link located at:
```HTML
 <iframe src="https://docs.google.com/gview?embedded=true&url=http://stopcoronavirus.mcgm.gov.in/assets/docs/Dashboard.pdf"   width="100%" height="600" frameborder="0" ></iframe>
```

using tablua for scraping: http://theautomatic.net/2019/05/24/3-ways-to-scrape-tables-from-pdfs-with-python/

https://nbviewer.jupyter.org/github/chezou/tabula-py/blob/master/examples/tabula_example.ipynb

In [5]:
file = "http://stopcoronavirus.mcgm.gov.in/assets/docs/Dashboard.pdf"

new_case_growth = tabula.read_pdf(file, pages=24, multiple_tables=False)

In [7]:
new_case_growth[0]

,Date of report,RC,D,C,HW,RS,PS,MW,RN,T,...,FS,A,KW,N,GN,L,KE,S,ME,Grand Total
0,Area>>>,Borivali,Grant\rRoad,Marine\rLines,Bandra,Kandivali,Goregaon,Chembur\rW,Dahisar,Mulund,...,Parel,Colaba,Andheri\rW,Ghatkopar,Dadar,Kurla,Andheri\rE,Bhandup,Chembur\rE,NaN
1,As on 11th Aug,6238,5004,1682,3335,5738,4048,3633,3127,5316,...,5773,3017,6919,6435,7333,5412,7764,6850,4387,119914.0
2,12-Aug,89,87,18,40,45,41,41,23,48,...,52,23,46,47,67,37,59,34,24,1046.0
3,13-Aug,87,75,33,41,62,38,38,46,39,...,55,32,45,52,38,31,65,43,18,1117.0
4,14-Aug,81,49,6,35,56,31,46,33,44,...,37,13,48,30,48,40,50,51,23,915.0
5,15-Aug,98,78,30,37,68,53,30,26,45,...,44,24,60,59,47,43,54,46,40,1146.0
6,16-Aug,82,55,29,31,74,37,24,17,49,...,44,24,53,34,49,34,50,42,28,941.0
7,17-Aug,57,34,12,40,48,17,21,10,29,...,29,7,41,39,50,29,28,30,17,703.0
8,18-Aug,83,56,7,30,68,37,25,36,64,...,32,28,49,37,28,28,36,42,11,860.0
9,As on 18th Aug,6815,5438,1817,3589,6159,4302,3858,3318,5634,...,6066,3168,7261,6733,7660,5654,8106,7138,4548,126642.0
10,Days to double,55,58,63,66,69,80,81,82,84,...,98,99,101,107,111,111,113,118,135,89.0
11,Wards <= 65 days to double\rWard RC\rWard D\...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN